<header>
  <h2>Instruções</h2>
  <p><i>Caro colega</i>,</p>
  <p>Bem-vindo à GripApp, a nova aplicação para a vigilância da gripe em Unidades de Cuidados Intensivos.
    Esta aplicação pretende simplificar e “tornar mais amigável” o preenchimento dos dados dos doentes com gripe, internados em Unidades de Cuidados Intensivos. Permitirá ainda contribuir para a vigilância europeia da gripe, uma vez que os dados serão enviados para o <a href="https://ecdc.europa.eu/en/publications-data/european-surveillance-system-tessy">ECDC/TESSy</a>. </p>
</header>
<section>
  <h3 id="criação-de-registo">Criação de registo</h3>
  <p>Para iniciar o registo dos casos de gripe, siga as seguintes instruções:</p>
  <ol>
    <li>Clique no separador <em><code>“Formulário”</code></em> e preencha os campos apresentados. <strong>Todos os campos de preenchimento obrigatório estão identificados com uma estrela a vermelho; <i class="fa fa-asterisk text-danger" aria-hidden="true"></i></strong></li>
    <li>Quando terminar, clique em <em><code>“Carregar”</code></em>, no final da página, e a informação ficará guardada, temporariamente, no separador <em><code>“Registos”</code></em>;</li>
    <li>Repita este passo tantas vezes quantos os casos de gripe que vai reportar;</li>
    <li>Aceda ao separador <em><code>“Registos”</code></em>. Nele encontrará todos os casos de gripe que introduziu no separador <em><code>“Formulário”</code></em>;</li>
    <li>Selecione todos os registos e clique em <em><i class="fa fa-lg fa-fw fa-floppy-o"></i> <code>“Guardar ficheiro”</code></em> para criar um documento com essa informação, que deverá guardar no seu computador. <strong>Se fechar a página sem completar este passo, irá perder a informação registada até ao momento;</strong></li>
    <li>Envie o ficheiro, como anexo, para <a href="mailto:cesp@dgs.min-saude.pt">cesp@dgs.min-saude.pt</a> (ou então poderá fazer reply ao email enviado, semanalmente, à 2ª feira).</li>
  </ol>
</section>
<section>
  <h5 id="alterar-registo">Alterar registo</h5>
  <p>Uma vez o ficheiro criado, não deverá ser feita nenhuma alteração/atualização diretamente no ficheiro. Se pretender alterar/atualizar os registos:</p>
  <ul>
    <li>Se guardou previamente o ficheiro, selecione a opção <em><i class="fa fa-lg fa-fw fa-folder-open-o"></i><code>“Abrir ficheiro”</code></em> no separador <em><code>“Registos”</code></em>;</li>
    <li>Procure o ficheiro no computador, seleccione-o e clique no botão <em><code>"Abrir"</code></em></li>
    <li>Selecione o registo que pretende alterar/atualizar, clicando no <i class="fa fa-square-o"></i> "quadradinho" à esquerda; </li>
    <li>Clique em <em><i class="fa fa-lg fa-fw fa-pencil"></i><code>“Editar registo selecionado”</code></em> e surgirá uma janela pop-up com os dados registados previamente, que lhe permite alterar os campos;</li>
    <li>Feita a alteração/atualização, clique em <em><code>“Guardar”</code></em>, no final do pop-up, e a informação ficará novamente guardada, temporariamente, no separador <em><code>“Registos”</code></em>;</li>
    <li>Clique em <em><i class="fa fa-lg fa-fw fa-floppy-o"></i> <code>“Guardar ficheiro”</code></em> para criar um novo documento com essa nova informação, que deverá guardar uma vez mais no seu computador. <strong>Se fechar a página sem completar este passo, irá perder a informação que alterou/atualizou;</strong></li>
    <li>Envie o ficheiro que alterou/atualizou, como anexo, para <a href="mailto:cesp@dgs.min-saude.pt">cesp@dgs.min-saude.pt</a> (ou então poderá fazer reply ao email enviado, semanalmente, à 2ª feira).</li>
  </ul>
</section>
<section>
  <h5 id="contactos">Contactos</h5>
  <p>Se tiver qualquer problema com a utilização da GripApp, avise-nos por email (<a href="mailto:cesp@dgs.min-saude.pt">cesp@dgs.min-saude.pt</a>; <a href="mailto:ifalcao@dgs.min-saude.pt">ifalcao@dgs.min-saude.pt</a>) ou por telefone (<a href="tel:914600381">914600381</a>).</p>
</section>
