<header>
  <h2>Registos</h2>
</header>
<section id="registos" class="table-responsive">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading panel-button-top">

      <!-- guardar como CSV -->
      <span class="fa-btn"
            ng-csv="getArray"
            data-csv-header="getProps()"
            data-csv-column-order="getProps()"
            data-filename="{{options.filename}}.csv"
            data-field-separator="{{ options.fieldSeparator }}"
            data-tooltip-placement="bottom"
            uib-tooltip="Guardar ficheiro">
        <i class="fa fa-lg fa-fw fa-floppy-o"></i>
      </span>

      <!-- Abrir ficheiro CSV -->
      <span class="fa-btn"
            ng-click="fileLoadModalOpen()"
            data-tooltip-placement="bottom"
            uib-tooltip="Abrir ficheiro">
        <i class="fa fa-lg fa-fw fa-folder-open-o"></i>
      </span>

      <!-- Editar registo -->
      <span class="fa-btn"
            ng-show="countSelected() === 1"
            ng-click="editRecordModalOpen()"
            data-tooltip-placement="bottom"
            uib-tooltip="Editar registo seleccionado">
        <i class="fa fa-lg fa-fw fa-pencil"></i>
      </span>

      <!-- Apagar registo seleccionado -->
      <span class="fa-btn"
           ng-click="deleteRecord()"
           data-tooltip-placement="bottom"
           uib-tooltip="Apagar registo seleccionado">
        <i class="fa fa-lg fa-fw fa-eraser" aria-hidden="true"></i>
      </span>

      <!-- Apagar todos os registos -->
      <span class="fa-btn"
           ng-click="reset()"
           data-tooltip-placement="bottom"
           uib-tooltip="Apagar todos os registos">
        <i class="fa fa-lg fa-fw fa-trash-o" aria-hidden="true"></i>
      </span>
    </div>
    <div class="panel-table-wrapper">
      <table class="table table-condensed table-hover table-overflow-x">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>#</th>
          <th ng-repeat="header in headers">{{::header}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in registos" ng-class="{'info': item.$$selected}" ng-click="item.$$selected = !item.$$selected">
          <th class="table-select-row">
            <i class="fa" ng-class="{'fa-square-o': !item.$$selected, 'fa-check-square-o': item.$$selected}" aria-hidden="true"></i>
          </th>
          <th>{{ $index }}</th>
          <td ng-repeat="prop in props">{{::item[prop]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

