<header>
  <h2>Registos</h2>
</header>
<section id="registos" class="table-responsive">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading panel-button-top">
      <div class="btn btn-default"

           ng-csv="getArray"
           data-csv-header="getProps()"
           data-csv-column-order="getProps()"
           data-filename="{{options.filename}}.csv"
           data-field-separator="{{ options.fieldSeparator }}"

           data-tooltip-placement="bottom"
           uib-tooltip="Guardar como CSV">
        <i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i>
      </div>
      <div class="btn btn-default"
           ng-click="fileLoadModalOpen()"
           data-tooltip-placement="bottom"
           uib-tooltip="Abrir ficheiro CSV">
        <i class="fa fa-lg fa-folder-open-o" aria-hidden="true"></i>
      </div>
      <div class="btn btn-default"
           ng-click="deleteRecord()"
           data-tooltip-placement="bottom"
           uib-tooltip="Apagar registo seleccionado">
        <i class="fa fa-lg fa-minus-square" aria-hidden="true"></i>
      </div>
      <div class="btn btn-default"
           ng-click="reset()"
           data-tooltip-placement="bottom"
           uib-tooltip="Apagar todos os registos">
        <i class="fa fa-lg fa-eraser" aria-hidden="true"></i>
      </div>
    </div>
    <div class="panel-table-wrapper">
      <table class="table table-condensed table-hover table-overflow-x">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>#</th>
          <th ng-repeat="header in headers">{{::header}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in registos track by $index" ng-class="{'info': r.$$selected}" ng-click="r.$$selected = !r.$$selected">
          <th class="table-select-row">
            <i class="fa" ng-class="{'fa-square-o': !r.$$selected, 'fa-check-square-o': r.$$selected}" aria-hidden="true"></i>
          </th>
          <th>{{ $index }}</th>
          <td ng-repeat="prop in props">{{::item[prop]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

